@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin box-shadow{
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 0.6rem rgba(168, 168, 168, 0.8);
}

@mixin preview-default {
  transition: all 0.2s;
  transform: scale(1, 1);
}

@mixin preview-hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

@mixin nav-bar-first-i {
  color: #ffffff;
  background-color: var(--sys--preset--background--color--black-middle);
  border-radius: 100%;
}

@mixin publicMainWidth {
  width: 1000px;
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}
@mixin public-blue {
  background-color: #82d4f9;
}
@mixin public-background-grey {
  background-color: #f6f6f7;
}
@mixin public-slow-grey {
  background-color: #e2e2e2;
}
@mixin public-grey {
  background-color: #525e52
}
@mixin public-green {
  background-color: #4cb050;
}

@mixin public-green-active {
  background-color: #6eaa70;
}