:root {
    --sys--preset--color--grey--deep: #525e52;
    --sys--preset--color--grey-high: #525e54;
    --sys--preset--color--grey-middle: #959595;
    --sys--preset--color--grey-low: #e2e2e2;

    --sys--preset--color--green--middle: #4cb050;
    --sys--preset--color--green--low: #6eaa70;

    --sys--preset--color--blue-low: #82d4f9;
    --sys--preset--color--white-low: #f6f6f7;
    
    --sys--preset--background--word--color--grey-low: #7f7f7f;

    --sys--preset--background--color--grey-low: rgba(232, 232, 232, 0.7);
    --sys--preset--background--color--black-middle: #656464;
    --sys--preset--background--color--black-low: #525e54;

    --system-width: 1000px;
}
